.img-hero {
  width: 100%;
}

.img-sec {
  width: 100%;
}

.img-intro {
  width: 100%;
}

.img-copy {
  width: 100%;
}

.img-cta {
  width: 100%;
}

.img-price {
  width: 100%;
}

.img-footer {
  width: 100%;
}